@use "variables" as *;

.btn:hover {
  &:active {
    color: $light !important;
    background-color: $primary-active !important;
    border-color: $primary-active !important;
  }
  color: $light !important;
  background-color: $primary-hover !important;
  border-color: $primary-hover !important;
}

.btn-about::after {
  content: "\f107";
  font-family: fontAwesome;
  position: relative;
}

.btn-projects::after {
  content: "\f107";
  font-family: fontAwesome;
  position: relative;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle:hover:active {
  background-color: transparent !important;
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  color: $light !important;
  &:hover {
    background-color: transparent !important;
    border: none !important;
    color: $light !important;
    &:active {
      background-color: transparent !important;
      border: none !important;
      color: $light !important;
    }
  }
}
