@import "./variables.scss";
@import "./buttons.scss";
@import "./animations.scss";

body {
  font-family: "Nunito" !important;
  background-color: $dark;
  color: $light;
}

body,
a {
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.75rem;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.bg-dark-subtle {
  --bs-dark-bg-subtle: #1a1d20;
}

.text-gray {
  color: #626262;
}

#root {
  min-height: 100vh;
}

.transition {
  transition: all 0.2s ease-in-out;
}

.navbar-nav a:hover {
  scale: 1.1;
}

.lang-icon {
  width: 25px;
  height: 25px;
}

.copyright::after {
  content: "|";
  color: rgba(255, 255, 255, 0.3);
  padding: 0 6px;
  font-weight: 400;
}

.hosted::before {
  content: "|";
  color: rgba(255, 255, 255, 0.3);
  padding: 0 6px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .copyright::after {
    display: none;
  }

  .hosted::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hosted::before {
    display: none;
  }
}
