$primary: #d1e8e2;
$secondary: #116466;
$info: #ffcb9a;
$light: whitesmoke;

$card-color: $primary;
$card-border-color: $info;
$card-border-width: 2px;
$btn-color: $primary;
$btn-border-radius: 0px;

$input-bg: #313131;
$input-focus-box-shadow: none;
$input-border-color: #626262;
$input-border-radius: 0;
$input-padding-x: 1.5rem;
$input-padding-y: 1rem;

$customColors: (
	"gray": (
		100: #626262,
		200: #313131,
		300: #222222,
	),
);

@each $name, $shades in $customColors {
	.bg-#{$name} {
		background-color: map-get($shades, 200) !important;
	}

	@each $shade, $color in $shades {
		.bg-#{$name}-#{$shade} {
			background-color: #{$color} !important;
		}
	}

	@each $shade, $color in $shades {
		.text-#{$name}-#{$shade} {
			color: #{$color} !important;
		}
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "IBM Plex Mono" !important;
	background-color: #313131 !important;
}

h1 {
	font-size: 60px !important;
}

.hide {
	display: none !important;
}

.filter-repos:focus {
	border: solid $primary 2px !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-800 {
	font-weight: 800 !important;
}

.active {
	color: $info;
}

/* welcome styling */

#welcome {
	background: rgb(17, 100, 102);
	background: linear-gradient(336deg, rgba(17, 100, 102, 1) 10%, rgba(44, 53, 49, 1) 82%);
	height: 100vh;
	width: 100%;
}

.profession span:first-child::before {
	content: "|";
	color: rgba(255, 255, 255, 0.3);
	padding: 0 10px 0 0;
	font-weight: 400;
}

.profession span::after {
	content: "|";
	color: rgba(255, 255, 255, 0.3);
	padding: 0 10px;
	font-weight: 400;
}

.profession span:last-child::after {
	content: "|";
	color: rgba(255, 255, 255, 0.3);
	padding: 0 0 0 10px;
	font-weight: 400;
}

/* about button styling */

.btn-about {
	height: 55px;
	font-size: 20px !important;
}

.btn-about::after {
	content: "\f107";
	font-family: fontAwesome;
	position: relative;
	left: 0.6rem;
}

.btn-about:hover {
	border-color: $info !important;
}

/* about styling */

#about {
	padding: 6% 0;
}

.bi-person-circle {
	font-size: 60px;
}

.info-about {
	padding-left: 2rem !important;
}

/* projects button styling */

.btn-projects {
	height: 55px;
	font-size: 20px !important;
	width: fit-content;
}

.btn-projects::after {
	content: "\f107";
	font-family: fontAwesome;
	position: relative;
	left: 0.6rem;
}

.btn-projects:hover {
	border-color: $secondary !important;
	color: $secondary !important;
}

/* languages styling */

#languages-div > .php > div {
	max-height: 48px !important;
}

#languages-div .devicon-mysql-original {
	color: #fff !important;
}

/* certificates styling */

.unit-testing > div > span:last-child {
	width: 60%;
}

#prev-page:hover,
#next-page:hover,
.pagination-page:hover {
	cursor: pointer;
}

/* contact button styling */

.btn-contact {
	height: 55px;
	font-size: 20px !important;
}

.btn-contact::after {
	content: "\f107";
	font-family: fontAwesome;
	position: relative;
	left: 0.6rem;
}

.btn-contact:hover {
	border-color: $secondary !important;
	color: $secondary !important;
}

/* projects styling */

#projects {
	min-height: 100vh;
}

.repo-name:hover,
.language-name:hover,
.site-name:hover {
	color: $primary !important;
}

.chrome {
	width: 18px;
	height: 18px;
}

/* contact styling */

#contact {
	padding: 60px;
	min-height: calc(100vh - 75.89px);
}

.bi-envelope-paper {
	font-size: 50px;
}

/* contact form styling */

.form-input:focus {
	border-bottom: solid $secondary 2px !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
}

.form-input {
	border-bottom: solid #626262 2px !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
}

.btn-send {
	border: solid #626262 3px !important;
}

.btn-send:hover {
	border: solid $secondary 3px !important;
}

/* footer styling */

.copyright::after {
	content: "|";
	color: rgba(255, 255, 255, 0.3);
	padding: 0 6px;
	font-weight: 400;
}

.hosted::before {
	content: "|";
	color: rgba(255, 255, 255, 0.3);
	padding: 0 6px;
	font-weight: 400;
}

.socials a {
	margin: 0 6px;
	font-size: 25px;
}

.copyright,
.design,
.hosted {
	margin-bottom: 0.4rem !important;
}

/*animations styling */

.bi-envelope-paper:hover,
.github:hover,
.discord:hover,
.tiktok:hover,
.bi-person-circle:hover {
	animation: shake 0.5s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

/* icons styling */

.bi-c-circle::after {
	content: "";
	padding: 0 3px;
}

.github:hover,
.discord:hover,
.tiktok:hover {
	color: $secondary;
}

.githubcom,
.simpelcity {
	color: $info;
	text-decoration: none;
	font-weight: bold;
}

.githubcom:hover,
.simpelcity:hover {
	color: $secondary;
}

/* mobile styling */

@media (max-width: 576px) {
	#welcome h1 {
		font-size: 2.5rem !important;
	}

	.profession {
		flex-direction: column;
	}

	.profession span::before {
		display: none;
	}

	.profession span::after {
		display: none;
	}

	#about {
		padding: 8% 6%;
	}

	.profile-picture {
		width: 100px;
		height: 100px;
	}

	.info-img {
		margin-bottom: 1rem;
	}

	.btn-projects {
		font-size: 1rem !important;
	}

	.languages {
		padding-bottom: 1rem;
	}

	.certificates {
		padding-top: 1rem;
	}

	.bit-academy-certificates > div {
		font-size: 1.3rem !important;
	}

	.repos {
		padding: 0 6% !important;
	}

	#contact {
		min-height: calc(100vh - 136.67px);
	}

	.design {
		text-align: center;
	}

	.copyright::after {
		display: none;
	}

	.hosted::before {
		display: none;
	}
}

/* mobile landscape styling */

@media (min-width: 576px) and (max-width: 768px) {
	#welcome h1 {
		font-size: 2.5rem !important;
	}

	.profession {
		flex-direction: column;
	}

	.profession span::before {
		display: none;
	}

	.profession span::after {
		display: none;
	}

	.skills {
		padding: 0 2.5rem !important;
	}

	.languages {
		padding-bottom: 1rem;
	}

	.certificates {
		padding-top: 1rem;
	}

	#contact {
		min-height: calc(100vh - 136.67px);
	}
}

/* tablet styling */

@media (min-width: 768px) and (max-width: 992px) {
	#welcome h1 {
		font-size: 2.5rem !important;
	}

	.profession {
		flex-direction: column;
	}

	.profession span::before {
		display: none;
	}

	.profession span::after {
		display: none;
	}

	#about {
		min-height: 100vh;
	}

	.skills {
		padding: 0 2.5rem !important;
	}

	.languages {
		padding-bottom: 1rem;
	}

	.certificates {
		padding-top: 1rem;
	}

	#projects {
		min-height: 100vh;
	}

	#contact {
		min-height: calc(100vh - 106.28px);
	}

	.hosted::before {
		display: none;
	}
}

/* tablet landscape styling */

@media (min-width: 992px) and (max-width: 1200px) {
	#welcome h1 {
		font-size: 2.5rem !important;
	}

	.profession {
		flex-direction: column;
		font-size: 1.9rem;
	}

	.profession span::before {
		display: none;
	}

	.profession span::after {
		display: none;
	}

	#projects {
		min-height: 100vh;
	}
}

/* desktop styling */

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 1400px) {
	.skills {
		width: 80% !important;
	}
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
